%h1 Contributing to this guide

This guide is released under the [GNU Free Documentation License](
http://www.gnu.org/copyleft/fdl.html). The source documents are available on
[github]( https://github.com/drothlis/how-to-learn-emacs). Please contribute
patches, no matter how small, to correct errors or omissions. It's very easy!

I initially intended to write multiple variants of the introductory chapter
["Basic Unix/C workflow"]( basic_c.html): One targeting Ruby/Rails developers,
etc. I gave up due to a lack of time, but if you'd like to contribute such a
chapter, please do. It could be tricky because I introduce concepts in a
particular order, and an introductory chapter for (say) Rails development would
require installing third-party packages, something I don't touch on until much
later.


%h2 Super-easy way to contribute small patches

If you have a small correction to wording or spelling, you can browse to the
source file on [github](https://github.com/drothlis/how-to-learn-emacs), click
the button that says "Fork and edit this file", make your change, and submit a
"pull request". This will require you to create a (free) account on github, but
you don't even need to checkout the source files onto your computer.

Or just [email me]( mailto:david@rothlis.net?subject=How%20to%20learn%20Emacs)
the correction. Unless you ask me otherwise, I will use your name and email
address in the change logs, which will be visible to anyone who downloads the
source repository from github.


%h2 More complex changes

See the [README](
https://github.com/drothlis/how-to-learn-emacs/blob/master/README) for
instructions on generating the html from the source haml files.
