-# This file will go inside a <section> so feel free to use h1 etc.

%h1 About this guide to Emacs

This guide is aimed at computer programmers who want to master the GNU Emacs
text editor.

It has been said that the Emacs learning curve is not so much steep as *long*.
While the initial learning curve is indeed much steeper than other editors,
that is a hump you'll get over fairly soon. This guide does start from the
basics, but its real aim is to help you reach the next level —programming the
behavior of Emacs itself— in months rather than years. The focus is on
self-driven discovery by leveraging the Emacs built-in help, debugging
facilities, and source code.

What I need from you is commitment (a couple of dedicated hours of study per
week, and to use Emacs as your day-to-day editor) and patience (be willing to
give up your favourite IDE's features, at least for a month or two).

If you're not sure it's worth the trouble, please read the next section—and
*then* by all means sniff in contempt.
