!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title
      / Title
    %link(rel="stylesheet" href="emacs.css" media="all")

  %body

    #sidebar
      #info
        %h1 How to learn Emacs

        By [David Röthlisberger](http://david.rothlis.net).  
        Comments welcome at <a href="&#x6d;&#x61;&#x69;&#108;&#x74;&#x6f;&#x3a;&#100;&#97;&#118;&#105;&#x64;&#64;&#x72;&#x6f;&#116;&#x68;&#x6c;&#105;&#115;&#46;&#110;&#x65;&#x74;?subject=How%20to%20learn%20Emacs">&#100;&#97;&#x76;&#x69;&#x64;&#64;&#114;&#111;&#x74;&#x68;&#x6c;&#x69;&#x73;&#46;&#x6e;&#x65;&#x74;</a>.  
        Last updated <!-- Last updated -->

      #toc
        / Table of Contents

      Copyright © 2012 [David Röthlisberger](http://david.rothlis.net).  
      This guide is released under the  
      <a rel="license" href="http://www.gnu.org/copyleft/fdl.html">GNU
      Free Documentation License</a>.

    #content2
      / Contents

      / Next chapter link
